body{
    background-color: black;
}
input{
    width: 500px;
    height: auto;
    font-size: 4rem;
    color: white;
    text-align: center;
    outline: none;
}
button{
    font-size: 3rem;
    margin-left: 2rem;
    background-color: #7e7e7e94;
    color: white;
    outline: none;
}
::placeholder{
    font-size: 3rem;
    color: white;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60rem;
    height: 80rem;
    border: 5px solid #766c6c72;
    margin-top: 2rem;
}
h1{
    color: white;
    font-size: 3rem; 
}
.top{
    border-top: 5px red solid;   
    animation: Rotate 2s infinite ;
    border-radius: 50%;
}
@keyframes Rtate {
    100%{
        transform: rotate(360deg);
    }
}
